.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
  
}

.fighter-preview___left {
  align-items: flex-start;
}
.title__preview {
  font-size: 40px;
  margin: 0 auto;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
}
.preview__properties {
  color: #26bfbf;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1.5px;
    background: black;
    width: 300px;
    text-align: center;
}
 .fighter-preview___right img  {
transform: scaleX(-1);
}